.main-app {
    margin: 0 auto;
    color: #34495e;
    background-color: white;
    background-image: url('./../../../assets/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}